NEXT_PUBLIC_EVENT_ID=6d650ee6-8ed0-4694-afd4-71871c37683a
NEXT_PUBLIC_ANALYTICS_GATEWAY_URL=http://localhost:8000
NEXT_PUBLIC_API_URL=
ANALYTICS_CONSENT_SECRET=
MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_USE_SSL=false
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_PUBLIC_URL=http://localhost:9000
